.hero {
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 90vh;
}

.hero-title {
  font-size: 3.5rem;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in; /* Animation for title */
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffd700; /* Bright gold */
  color: #333;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  max-width: 150px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 7vw;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition for button */
}

.btn:hover {
  background-color: #ffc107; /* Darker gold on hover */
  /* color: white; */
  transform: scale(1.025); /* Slight scale effect on hover */
}


/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Location and Destination inputs with a border-radius, shadow, and hover effect */
.location,
.destination {
  height: 50px;
  width: 300px; /* Set a width for better alignment */
  border: 2px solid #ccc;
  border-radius: 10px; /* Adds rounded corners */
  font-size: 1rem;
  margin: 15px;
  margin-top: 20px;
  transition: all 0.3s ease; /* Smooth transition for hover and focus effects */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.location:hover,
.destination:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds more shadow on hover */
}

.location:focus,
.destination:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Focus glow effect */
}

/* Placeholder styles */
input::placeholder {
  font: 1rem/3 sans-serif;
  color: black; /* Placeholder color */

}
.Image{
  width: 80px;
  height: 80px;
}
.cards h1{
  color: white;
  font-size: 50px;
  padding: 0;
  margin: 0;
}
.cards p{
  color: white;
  font-weight: 400;
  max-width: 35vw;
}

.Image img{
  width: 100vw;
  filter: brightness(50%);
  position: relative;
  z-index: -1;
}

.right{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.left{
  margin: 50px 50px 0 0;
}