@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 50px;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.navbar:hover {
  background-color: #0056b3; /* Darken on hover */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nav-links a{
  text-decoration: none;

}

.nav-links a {
  color: white;
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-links a:hover {
  color: #ffd700; /* Gold color on hover */
}

.navbar .logo{
  font-size: 30px;
  font-weight: 600;
  padding-top: 6px;
}